<!DOCTYPE html>
<html>
  <body>
    <h1>Nuevo usuario</h1>
    <h3>Name:<input type="text"></h3>
    <h3>Surname:<input type="text"></h3>
    <%= link_to 'Generate user', new_user_path %>
  </body>
</html>